<div id="container-instructions">

    <div class="instructions well">
        <div id="message"></div>
        <div id="observe-instructions" style="display: none">
            <p>
                In this casino, the robot <b>knows nothing</b> about which slot machines are good or bad and is learning to maximize its total payout by selecting them. At each turn, the highlighted slot will indicate what the robot wants to try next. You will simply need to click the "Next" button to progress through the robot's decisions. You do not need to click the other buttons yourself, simply observe how the robot is learning. 
            </p>
            <p>
                In this scenario, each slot has a colored box above it, indicating its value. The best slots are nearly white, the worst slots are dark gray, and those in between are light gray. 
            </p>
            <p>
                Finally, remember that these slots are in a different casino, so they are different than those you've seen before.
            </p>
        </div>
        <div id="collaborate-instructions" style="display: none">
            In this casinio, the robot <b>knows nothing</b> about which slot machines are good or bad and is learning to maximize its total payout, but it <b>only sees the payouts you are getting</b>. Highlighted slots are the robot's suggestion. If multiple slots are highlighted, it has no preference. Your goal is to maximize your payout within 30 turns. Click any slot to advance through each turn.
            <p>
                Remember that these slots are in a different casino, so they are different than those you've seen before.
            </p>
        </div>
    </div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="next()">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
