<div id="container-exp">
    <div class="trial">
        <div class="row">
            <button type="button" id="arm-0" class="btn btn-secondary btn-lg" onclick="clickArm(0)">Arm 1</button>
            <button type="button" id="arm-1" class="btn btn-secondary btn-lg" onclick="clickArm(1)">Arm 2</button>
            <button type="button" id="arm-2" class="btn btn-secondary btn-lg" onclick="clickArm(2)">Arm 3</button>
            <button type="button" id="arm-3" class="btn btn-secondary btn-lg" onclick="clickArm(3)">Arm 4</button>
            <button type="button" id="arm-4" class="btn btn-secondary btn-lg" onclick="clickArm(4)">Arm 5</button>
            <button type="button" id="arm-5" class="btn btn-secondary btn-lg" onclick="clickArm(5)">Arm 6</button>
            <button type="button" id="arm-6" class="btn btn-secondary btn-lg" onclick="clickArm(6)">Arm 7</button>
            <button type="button" id="arm-7" class="btn btn-secondary btn-lg" onclick="clickArm(7)">Arm 8</button>
            <button type="button" id="arm-8" class="btn btn-secondary btn-lg" onclick="clickArm(8)">Arm 9</button>
            <button type="button" id="arm-9" class="btn btn-secondary btn-lg" onclick="clickArm(9)">Arm 10</button>
        </div>

        <div class="row">
            <h1 style="display: inline">Robot: </h1><h1 style="display: inline" id="robot-name"></h1>
            <p></p>
            <h1 style="display: inline">Iteration: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: inline">Previous Arm: </h1><h1 style="display: inline" id="previous-arm"></h1>
            <p></p>
            <h1 style="display: inline">Previous Reward: </h1><h1 style="display: inline" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Total Reward: </h1><h1 style="display: inline" id="reward"></h1>
        </div>
        <div class="row">
            <button type="button" id="finish" class="btn btn-primary btn-lg disabled">Finish Collaborating</button>
        </div>
    </div>
</div>