<style>
.container {
    position: relative;
    text-align: center;
    color: black;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 5em;
}
</style>
<div id="container-exp">
    <div class="trial">
        <div class="row" style="display: flex; justify-content: left;">
            <div class="container">
                <button type="button" id="arm-0" class="btn btn-secondary btn-lg" onclick="clickArm(0)">Slot 1</button>
                <div id="arm-0-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-1" class="btn btn-secondary btn-lg" onclick="clickArm(1)">Slot 2</button>
                <div id="arm-1-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-2" class="btn btn-secondary btn-lg" onclick="clickArm(2)">Slot 3</button>
                <div id="arm-2-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-3" class="btn btn-secondary btn-lg" onclick="clickArm(3)">Slot 4</button>
                <div id="arm-3-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-4" class="btn btn-secondary btn-lg" onclick="clickArm(4)">Slot 5</button>
                <div id="arm-4-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-5" class="btn btn-secondary btn-lg" onclick="clickArm(5)">Slot 6</button>
                <div id="arm-5-history"></div>
            </div>
        </div>

        <div class="row">
            <h1 style="display: inline">Robot: </h1><h1 style="display: inline" id="robot-name"></h1>
            <p></p>
            <h1 style="display: inline">Turn: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: inline">Previous Slot: </h1><h1 style="display: inline" id="previous-arm"></h1>
            <p></p>
            <h1 style="display: inline">Previous Payout: </h1><h1 style="display: inline" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Total Payout: </h1><h1 style="display: inline" id="reward"></h1>
        </div>
        <div class="row">
            <button type="button" id="finish" class="btn btn-primary btn-lg disabled">Finish Collaborating</button>
            <h2>Colored slots are the robot's suggestion. If multiple slots are highlighted, it has no preference.</h2>
            <h2>These slots are different than those you've seen before.</h2>
        </div>
    </div>
</div>