<div id="container-exp">
    <div class="trial">
        <div class="row">
            <button type="button" id="arm-0" class="btn btn-secondary btn-lg" onclick="clickArm(0)">Arm 1</button>
            <button type="button" id="arm-1" class="btn btn-secondary btn-lg" onclick="clickArm(1)">Arm 2</button>
        </div>

        <div class="row">
            <h1 style="display: inline">Iteration: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: inline">Previous Reward: </h1><h1 style="display: inline" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Reward: </h1><h1 style="display: inline" id="reward"></h1>
        </div>
    </div>
</div>