<div id="container-exp">
    <div class="trial">
        <div class="row">
            <button type="button" id="arm-0" class="btn btn-secondary btn-lg" onclick="clickArm(0)">Arm 1</button>
            <button type="button" id="arm-1" class="btn btn-secondary btn-lg" onclick="clickArm(1)">Arm 2</button>
        </div>

        <div class="row">
            <h1 style="display: inline">Robot: </h1><h1 style="display: inline" id="robot-name"></h1>
            <p></p>
            <h1 style="display: inline">Iteration: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: inline">Previous Arm: </h1><h1 style="display: inline" id="previous-arm"></h1>
            <p></p>
            <h1 style="display: inline">Previous Reward: </h1><h1 style="display: inline" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Total Reward: </h1><h1 style="display: inline" id="reward"></h1>
        </div>
        <div class="row">
            <button type="button" id="finish" class="btn btn-primary btn-lg disabled">Finish Collaborating</button>
            <h2>Colored arms are the robot's suggestion. If multiple arms are highlighted, it has no preference.</h2>
            <h2>These arms are different than those you've seen before.</h2>
        </div>
    </div>
</div>