<style>
.container {
    position: relative;
    text-align: center;
    color: black;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 5em;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
<div id="container-exp">
    <h1  id="casino-name">Casino </h1>
    <div class="trial">
        <div class="row" style="display: flex; justify-content: left;">
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-0-value" class="btn btn-lg disabled">Slot 1</button>
                    <div id="arm-0-value-text" class="centered"></div>
                </div>
            </div>
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-1-value" class="btn btn-lg disabled">Slot 2</button>
                    <div id="arm-1-value-text" class="centered"></div>
                </div>
            </div>
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-2-value" class="btn btn-lg disabled">Slot 3</button>
                    <div id="arm-2-value-text" class="centered"></div>
                </div>
            </div>
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-3-value" class="btn btn-lg disabled">Slot 4</button>
                    <div id="arm-3-value-text" class="centered"></div>
                </div>
            </div>
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-4-value" class="btn btn-lg disabled">Slot 5</button>
                    <div id="arm-4-value-text" class="centered"></div>
                </div>
            </div>
            <div class="container">
                <img src="{{ server_location }}/static/images/slot_machine.png" />
                <div class="container">
                    <button id="arm-5-value" class="btn btn-lg disabled">Slot 6</button>
                    <div id="arm-5-value-text" class="centered"></div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: left;">
            <div class="container">
                <button type="button" id="arm-0" class="btn btn-secondary btn-lg">Slot 1</button>
                <div id="arm-0-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-1" class="btn btn-secondary btn-lg">Slot 2</button>
                <div id="arm-1-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-2" class="btn btn-secondary btn-lg">Slot 3</button>
                <div id="arm-2-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-3" class="btn btn-secondary btn-lg">Slot 4</button>
                <div id="arm-3-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-4" class="btn btn-secondary btn-lg">Slot 5</button>
                <div id="arm-4-history"></div>
            </div>
            <div class="container">
                <button type="button" id="arm-5" class="btn btn-secondary btn-lg">Slot 6</button>
                <div id="arm-5-history"></div>
            </div>
        </div>

        <div class="row">
            <h1 style="display: inline" id="robot-name-text">Robot: </h1><h1 style="display: inline" id="robot-name"></h1>
            <p></p>
            <h1 style="display: inline">Turn: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: none" id="prev-arm-text">Previous Slot: </h1><h1 style="display: none" id="previous-arm"></h1>
            <p></p>
            <h1 style="display: none" id="prev-reward-text">Previous Payout: $</h1><h1 style="display: none" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Total Payout: $</h1><h1 style="display: inline" id="reward"></h1>
        </div>

        <div class="row">
            <button type="button" id="next-iteration" class="btn btn-primary btn-lg" onclick="next_iteration()">
                Next <span class="glyphicon glyphicon-arrow-right"></button>
                    <b>You only need to click the next button to continue!</b>
            <h2>Colored slots are the robot's next choice. If multiple slots are highlighted, it has no preference.</h2>
            <h2>These slots are different than those you've seen before.</h2>
        </div>
    </div>
</div>