<div id="container-exp">
    <div class="trial">
        <div class="row">
            <button type="button" id="arm-0" class="btn btn-secondary btn-lg">Arm 1</button>
            <button type="button" id="arm-1" class="btn btn-secondary btn-lg">Arm 2</button>
            <button type="button" id="arm-2" class="btn btn-secondary btn-lg">Arm 3</button>
            <button type="button" id="arm-3" class="btn btn-secondary btn-lg">Arm 4</button>
        </div>

        <div class="row">
            <h1 style="display: inline">Iteration: </h1><h1 style="display: inline" id="iteration"></h1>
            <p></p>
            <h1 style="display: inline">Previous Reward: </h1><h1 style="display: inline" id="previous-reward"></h1>
            <p></p>
            <h1 style="display: inline">Reward: </h1><h1 style="display: inline" id="reward"></h1>
        </div>

        <div class="row">
            <button type="button" id="next-iteration" class="btn btn-primary btn-lg" onclick="next_iteration()">
                Next <span class="glyphicon glyphicon-arrow-right"></button>
        </div>
    </div>
</div>