<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <h2>Please answer the following questions.</h2>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="question">
                <div class="row">
                    <div class="col-md-12">
                        Gender:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <label class="radio-inline"><input type="radio" name="gender" value="male">Male</label>
                            <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
                            <label class="radio-inline"><input type="radio" name="gender" value="other">Other/Prefer not to answer</label>
                      </form>
                    </div>
                </div>
            </div>
            <!-- end of a question -->

            <div class="question">
                Age:<br>
                <input type="text" id="age" name="age">
            </div>

            <div class="question">
                <div class="row">
                    <div class="col-md-12">
                        Rank the robots in terms of how much you liked collaborating with them. Give each robot a different rank. [1: enjoyed most, 4: enjoyed least]:<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Green Robot:<br>
                        <input type="text" id="rank-green" name="rank-green"><br>
                        Red Robot:<br>
                        <input type="text" id="rank-red" name="rank-red"><br>
                        Blue Robot:<br>
                        <input type="text" id="rank-blue" name="rank-blue"><br>
                        Yellow Robot:<br>
                        <input type="text" id="rank-yellow" name="rank-yellow">
                    </div>
                </div>
            </div>

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="finish()">
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
