<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You will be working with slot machines. Each machine, or "Slot", has a fixed set of payout and fixed probability of giving you each payout each time. Your goal is to maximize your total payout.
        <p>
            You can get up to a <b>$0.50 bonus</b>! The bonus you get will be proportional to your payout across both casinos.
        </p>

        <p>
            You will have <b>30 Turns.</b> Click Next to begin.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
