<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You will be working with simulated slot machines. Each machine, or "Arm", has a fixed payout and fixed probability of giving you that payout each time. Your goal is to maximize your total payout.
	    </p>
	    
	    <p>
	    	You will be working with 4 different robots colored Red, Blue, Yellow, and Green. Each robot has a different way of learning, and you will get to collaborate with each of them on a different set of slot machines.
        </p>

        <p>
        	You will first get to explore one scenario on your own. Click Next to begin.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
