<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You will be working with simulated slot machines. Each machine, or "Slot", has a fixed payout and fixed probability of giving you that payout each time. Your goal is to maximize your total payout.
	    </p>
	    
	    <p>
	    	You will be working with 4 different robots colored Red, Blue, Yellow, and Green. Each robot has a different way of learning, and you will collaborate with each of them in a different casino. Each casino has different slot machines.
        </p>

        <p>
            You can get up to a <b>$0.50 bonus</b>! The bonus you get will be proportional to your payout across all casinos.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
